body{margin:0; overflow-x: hidden;}

.fixed-img{
	background-image: url(pics/background.png);
	height: 100%;
	width: 100%;
	position: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;}

.svg2{width: 73%;
padding: 60px;}

nav{
  box-shadow: 0px 4px 7px #707484;
  transition: background-color 0.4s ease-out;
  padding: 15px 25px 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #494E91;
  font-size: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navItem{
	color: white;
	text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	font-weight: bolder;
}

.navItem:hover{color: #1B1464; font-weight: bolder;}

.active{color: #1B1464; font-weight: bolder;}

.navMenu{
  flex-basis: 100%;
  max-width: 230px;
  display: flex;
  justify-content: space-between;
}

.navMenu span{
  padding: 10px;
  margin: 0 0 0 10px;
  cursor: pointer;
}

nav.scroll{
  background-color: #9FA4BC;
  opacity: 90%;
}

section{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section:focus {
    outline: none !important;
}

.about{
	padding: 20px;
	background: #CBCCD9;
    background-repeat: no-repeat;
  	background-attachment: scroll;
  	background-position: center center;
  	background-size: cover;
}

.box{
	background : #E1E2E9;
	border-radius : 23px;
	position: relative;
	padding: 30px;
	width: 1000px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "image txt";
}

.heading1{
	margin-bottom: 6px;
	border-bottom: 2.5px currentColor dashed;
	display: inline-block;
	line-height: 19px;
	font-size: 19.5px;
	width: 100px;
	font-weight:bold;
}

.heading2{
	border-bottom: 2.5px currentColor dashed;
	display: inline-block;
	line-height: 19px;
	font-size: 19.5px;
	width: 150px;
	font-weight: bold;
}

.desc{
    font-size: 17.5px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    line-height: 22.5px;
    color: slategray;
    text-align: left;
	margin-top: 0;
    padding-left: 100px;
    padding-right: 52px;
	overflow: hidden;
	display: inline-block;
}

.desc2{display: none;}

.dp{
	width: 123%;
	border-radius: 15%;
	opacity: 93%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding-left: 25px;
  width: 100%;
  text-align:center;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px){
	ul{padding: 0;
	display: flex;
	justify-content: center;
    align-items: center;}}

li {
  display: inline-block;
}

.mail,.phone{
	width: 2.8rem;
	opacity: 76%;
	margin-left: 8px;
}

.mail:hover,.phone:hover{
	opacity: 100%;
}

.icons{
	display: inline-block;
	width: 85%;
	max-width: 100%;
	height: auto;
	padding-left: 85px;
	margin-top: -16px;
}

.icons1{
	display: none;
}

.icons2{
	display: none;
}

#image{
	grid-area: image;
	display: inline-block;
}

#txt{
	grid-area: txt;
	display: inline-block;
}

@media (max-width: 950px){
	.icons{display: none;}
		
	.icons2{display: inline-block;
		max-width: 22.5em;
		padding: 0;
		margin-left: 83px;
		margin-top: -12px;}

	.desc{padding-right: 15px;}
}

@media (max-width: 700px){
	.svg2{padding: 0;
		width: 105%;
		overflow-x: hidden;
		margin-top: 30px;}
	
	.box{padding: 15px;
		display: grid;
    	grid-template-columns: 1fr;
		grid-template-areas:
		"image" 
		"txt";
	    grid-column:span 1;
		}
	
	.heading1{width: 140px;}
	.heading2{width: 180px;}

	.desc{display: none;}
		
	.desc2{display: inline-block;
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		line-height: 22.5px;
		color: slategray;
		text-align: center;
		margin-top: 0px;
		padding: 20px;
	}
	
	.dp{width: 50%;
		margin-top: 13px;
		margin-bottom: 8px;
	}

	.dpp{display: flex;
	    align-items: center;
	    justify-content: center;}

	.software{display: flex;
	    align-items: center;
	    justify-content: center;}
	
	.icons1{display: block;
        width: 16em;
		margin-left: 8px;
		margin-top: -26px;
		margin-bottom: 28px;
		padding: 0;}
	
	.icons2{display: none;}
	
	.mail, .phone{
		width: 2.6rem;}
}

.projects {
	background-image: url(pics/background3.png);
	background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
	padding: 100px;
	display: block;
  }

.tab {
	overflow: hidden;
	border-bottom: 10px solid #345590;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  }
  
  .tab button {
	float: left;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color: slategray;
	background-color: #E1E2E9;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 3px solid ghostwhite;
	cursor: pointer;
	padding: 18px;
	font-size: 20px;
	font-weight: 900;
	transition: 0.3s;
	width: 25%;
  }
  
  .tab button:hover {
	background-color: #BEC1D3;
	color:white;
  }

  .tab button.active {
	background-color: #345590;
	color: ghostwhite;
  }
  
  .tabcontent {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color: slategray;
	background-color: #E1E2E9;
	border: 3px solid ghostwhite;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: none;
	padding: 6px 12px;
	border-top: none;
	animation: fadeEffect 1s; 
  }

  @keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
  }

  .container{
	margin-top: 6px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 10px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:10px;
    grid-auto-flow: dense;
}

.gallery-item{
    width:100%;
    height:100%;
    position:relative;
}

.gallery-item .image{
    width:100%;
    height:100%;
    overflow:hidden;
}

.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
    transition:.5s ease-in-out;
}
.gallery-item:hover .image img{
    transform:scale(1.2);
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 99999; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
	margin: auto;
	display: block;
	max-height:100%;
	max-width: 1500px;
  }
  
  /* Caption of Modal Image */
  #caption {
	margin: auto;
	display: block;
	max-width: 1250px;
	text-align: center;
	color: #ccc;
	font-size: small;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	padding: 10px 0;
	height: 150px;
  }
  
  /* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 950px){
	.home{min-height: 70vh;
	}
	.projects{
		padding: 20px;
		padding-top: 35px;
		margin-top: 35px;
	}
}
  
  @media only screen and (max-width: 700px){
	.modal-content {
	  width: 100%;
	}
  }

.w-1{
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}
.w-5{
    grid-column: span 5;
}

@media screen and (max-width:500px){
	.tab button{
		font-size: 17px;
		padding: 12px;
	}
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    .w-1,.w-2,.w-3,.w-4,.w-5{
        grid-column:span 1;
    }
}

@keyframes move-down{
    0%{
        top:10%;
    }
    50%{
        top:35%;
    }
    100%{
        top:50%;
    }
}
